@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --radius: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2B286D;
    --foreground: #ededed;
  }
}

* {
  font-family: "Roboto", serif;
  padding: 0.5vw 2vw 0.5vw 2vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: var(--spacing-md);
}


.heading {
  font-weight: 900;
  /* <weight>: Use a value from 100 to 900 */
  font-style: normal;
  font-size: 3vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
}

.subheading {
  font-weight: 400;
  /* <weight>: Use a value from 100 to 900 */
  font-style: normal;
  font-size: 0.8vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
}

.temperature {
  font-weight: 900;
  /* <weight>: Use a value from 100 to 900 */
  font-style: normal;
  font-size: 5vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
}

.weatherSymbol {
  height: 20vw;
  width: auto;
  filter: invert(1) brightness(2);
  padding: 0vw;
}

.weatherContainer {
  display: flex;
  align-items: center;
  padding: 0vw 2vw 0vw 2vw;
  margin-top: -4vw;
  
}

.leftWeatherInfo{
  padding: 0vw;
}

.rightWeatherInfo {
  display: flex;
  align-items: center;
  padding: 0vw 0vw 0vw 5vw;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 2vw 0vw 2vw;
  margin-top: -4vw;
  background: #6055a1;
  border-radius: 1vw;
  width: 100%;
}

.leftContainer{
  display: flex;
  flex-direction: column;
  padding: 0vw 0vw 0vw 0vw;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0vw 0vw 0vw 0vw;
}

.info{
  font-weight: 500;
  /* <weight>: Use a value from 100 to 900 */
  font-style: normal;
  font-size: 0.8vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
  padding-left: 0;
}

.content{
  font-weight: 900;
  /* <weight>: Use a value from 100 to 900 */
  font-style: normal;
  font-size: 2vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
  padding-left: 0;
  margin-top: -0.5vw;
}

.infoSymbol{
  height: 3vw;
  width: auto;
  filter: invert(1) brightness(2);
  padding: 0vw;
  margin-bottom: 0.2vw;
}

.infoContainer{
  display: flex;
  align-items: center;
  gap: 0vw;
}

.innerContainer {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  padding: 0;
}

.left {
  display: flex;
  align-items: center;
  padding: 0;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

